EXPO_PUBLIC_API_URL=http://localhost:8080

# Replace localhost with a specific IP address if you want to publish to one.
# This allows the Expo app to communicate with the backend server running on your machine.